.logo-invert {
    filter: invert(1);
}

footer {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

section a {
  transition: transform 0.2s ease-in-out;
}
section a:hover {
  transform: scale(1.2);
  color: #007bff; 
}