{% extends "core/base.html" %}
{% load custom_filters %}

{% block content %}
<section class="galeria-banner">
  <h1 class="fw-bold display-4">Modelos Disponibles</h1>
  <p class="lead">Explora las bicicletas Kona que tenemos para ti.</p>
</section>

<div class="container text-center my-4">
    <div class="btn-group shadow-sm" role="group" aria-label="Filtros por Categoría">
        <a href="{% url 'bicicletas:bike_list' %}" 
           class="btn {% if not categoria_id_seleccionada %}btn-dark{% else %}btn-outline-dark{% endif %}">
           Todas
        </a>
        {% for cat in categorias %}
        <a href="?categoria={{ cat.id }}" 
           class="btn {% if categoria_id_seleccionada == cat.id %}btn-dark{% else %}btn-outline-dark{% endif %}">
           {{ cat.name }}
        </a>
        {% endfor %}
    </div>
</div>

<div class="container my-5">
    <div class="row">
        {% for bike in page_obj %}
        <div class="col-md-3 mb-4">
            <a href="{% url 'bicicletas:bike_detail' bike.id %}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm bike-card">
                    <img src="{{ bike.image.url }}" class="card-img-top img-fluid" alt="{{ bike.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title fw-bold">{{ bike.name }}</h5>
                        <p class="card-text text-muted mb-3" style="min-height: 60px;">
                            {{ bike.description|truncatechars:100 }}
                        </p>
                        <p class="fw-bold fs-5 mt-auto">{{ bike.price|currency_cl }}</p>
                        {% if bike.stock %}
                            <span class="btn btn-success w-100">Disponible</span>
                        {% else %}
                            <span class="badge bg-danger w-100 py-2">Sin stock</span>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="pagination d-flex justify-content-center mt-4">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mx-1" href="?page={{ page_obj.previous_page_number }}{% if categoria_id_seleccionada %}&categoria={{ categoria_id_seleccionada }}{% endif %}">Anterior</a>
        {% endif %}
        
        <span class="btn btn-secondary disabled mx-1">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>
        
        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark mx-1" href="?page={{ page_obj.next_page_number }}{% if categoria_id_seleccionada %}&categoria={{ categoria_id_seleccionada }}{% endif %}">Siguiente</a>
        {% endif %}
    </div>
</div>
{% endblock %}
